body{
    margin:0;
    min-height: 100vh;
    background: #ffffff;
    color: #f8fafc;
    overflow-x:hidden;
    position:relative;

}

body::before,
body::after{
    content:"";
    position:fixed;
    width:350px;
    height: 350px;
    border-radius: 50%;
    filter:blur(120px);
    z-index:-1;
}

body::before{
    background:rgba(37,99,235,.3);
    top: -120px;
    left:-120px;
}

body::after{
    background:rgba(113, 52, 255, 0.649);
    bottom:--120px;
    right:-120px;
}

.heading{
display:flex;
width:100%;
max-width:1600px;
background: rgb(255, 255, 255);
backdrop-filter: rgba(255,255,255,.15);
border: 1px solid rgba(255,255,255,.015);
display:flex;
justify-content:center;
text-decoration:underline;


}
.heading h1{
    color:rgb(0, 0, 0);
    font-family: "Black Ops One";
  
  
  margin-left:5%;
  font-size:clamp(1.5rem,5vw,4rem);

}

.mainbg{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbg img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Dark overlay */
.mainbg::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.45)
    );
    z-index: 1;
}

.hero,
.hero-p,
.par{
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    width: 90%;
    max-width: 850px;
}

.hero{
    position: absolute;
    top: 20%;
}

.hero h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-p{
    position: absolute;
    top: 46%;
}

.hero-p h2{
    font-size: 2rem;
    font-weight: 400;
    color: #f4f4f4;
}

.par{
    position: absolute;
    top: 55%;
}

.par p{
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 30px;
    color: #f1f1f1;
}

.btn{
    display: inline-block;
    padding: 14px 34px;
    border-radius: 40px;
    background: #ffffff;
    color: #0b4a8b;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.btn:hover{
    background: #0b4a8b;
    color: #fff;
    transform: translateY(-4px);
}

@media (max-width:768px){

    .hero{
        top: 20%;
    }

    .hero h1{
        font-size: 2.3rem;
    }

    .hero-p{
        top: 40%;
    }

    .hero-p h2{
        font-size: 1.3rem;
    }

    .par{
        top: 50%;
        width: 90%;
    }

    .par p{
        font-size: .95rem;
        line-height: 1.6;
    }

}

.navbar{
    display:flex;
    justify-content: center;
    
    background:black;
    position: relative;
    left:0rem;
    padding:1%;
    font-family: "Bebas Neue";
}

.nav-links{
    display: flex;
    justify-content: center;
 
list-style: none;
gap:1rem;
font-size: 1.8rem;

list-style:none;

margin:0;
padding:0;
}

.nav-links a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.nav-links a:hover{
    display:flex;
    color:rgb(186, 37, 240);
    text-shadow:0 0 23px rgb(98, 0, 255);
    
    border-radius: 6px;
    gap: 1rem;
}





.cards-section{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
    position: relative;
    top:5rem;
    margin:1rem;
}



.card{
    background:#f0ede4;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 25px black;
    transition:1s;
}





.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25PX rgb(148, 144, 255);
}

.card img{
    width:100%;
    height:auto;
    object-fit:cover;
}



.card-content{
    padding:20px;
}

.card-content h2{
    margin-bottom:10px;
    color:#004741;
}

.card-content p{
    color:rgb(0, 0, 0);
    line-height:1.6;
    margin-bottom:20px;
}

button{
    background:#ff6505;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#ff2200;
    box-shadow: 0 0 25px rgb(150, 88, 88);
}

button:active{
    background:rgb(17, 80, 225) ;
    transform: scale(0.8)
    
}

button:visited{
    background: rgb(17,80,225);
}

.stats{
    width:100%;
    position: relative;
    top:10rem;
    display:flex;
    justify-content: center;
    gap:30px;
    flex-wrap:wrap;
    
}

.stat-box{
    width:220px;
    box-shadow: 0 0 1px rgb(148, 144, 255);
    text-align:center;
    border-radius:20px;
    background:#0F172A;
    backdrop-filter: blur(15px);
    border:1px solid rgba(255,255,255,.15);
    transition: 1s;
}

.stat-box:hover{
    transform: translateY(-10px);
    box-shadow:0 0 25px rgba(255,255,255,.4);
}

.stat-box h2{
    font-size:2rem;
    color:gold;
    margin-bottom:10px;
}

.stat-box p{
    color:#fff;
    font-size:1.1rem;
}

.footer{
    background: url("xavier.jpg") center center/cover no-repeat;
    position: relative;
    padding: 60px 20px;
    color: white;
    text-align: center;
    position: relative;
    bottom:-12rem;
}

.footer::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.footer-content{
    position: relative;
    z-index: 2;
    font-size: 20px;
}


.down{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
    position: relative;
    top:10rem;
}


.down-links{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
    font-size: 20px;
    justify-content: center;
    position: relative;
    top:2rem;
    
    max-width: 1600px;
}
.down-links a{
    color: rgb(255, 128, 128);
    text-decoration: none;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.down-links a:hover{
    color:rgb(255, 0, 0);
    
    border-bottom: 3px solid rgb(0, 0, 0);
}

.principle{
    background:rgba(255,255,255,.20);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prn-name{
    background:rgba(145, 128, 255, 0.447);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:2rem;
    border-radius: 50px;
}
.pr-words{
    position: relative;
    top:5rem;
    margin:2rem;
}

.pr-words p{
    font-size:1rem;
    color:rgb(255, 255, 255);
    font-weight: 400;
}

.pr-img{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:4rem;

}

.pr-img img{
    width:60%;
    height: 40%;
    object-fit: cover;
}

.std-cla{
    background:rgb(96, 20, 33);
    width: 100%;
    height: auto;
    max-width: 1600px;
    padding: 50px;
}
.student{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
    position: relative;
    

}



.std-card{
    background:#ff898d;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 25px black;
    transition:1s;
}





.std-card:hover{
    box-shadow:0 0 25PX rgb(148, 144, 255);
    transition: 1s ease all;
}

.std-card img{
    width:100%;
    height:auto;
    object-fit:cover;
}



.std-card-content{
    padding:20px;
}

.std-card-content h2{
    margin-bottom:10px;
    color:#000000;
}

.std-card-content p{
    color:rgb(0, 0, 0);
    line-height:1.6;
    margin-bottom:20px;
}

.tea-cla{
    background:rgb(0, 0, 0);
    width: 100%;
    height: auto;
    max-width: 1600px;
    padding: 50px;
}
.tr-cla{
    background: #000000;
    top:1rem;
}
.teacher{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
    position: relative;
    

}



.tr-card{
    background:#ffff89;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 0px 10px rgb(255, 255, 255);
    transition:1s;
}





.tr-card:hover{
    box-shadow:0 0 25PX rgb(148, 144, 255);
}

.tr-card img{
    width:100%;
    height:auto;
    object-fit:cover;
}



.tr-card-content{
    padding:20px;
}

.tr-card-content h2{
    margin-bottom:10px;
    color:#000000;
}

.tr-card-content p{
    color:rgb(0, 0, 0);
    line-height:1.6;
    margin-bottom:20px;
}
